@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1c1c1c;
  color: rgb(230, 230, 230);
  font-family: "GmarketSansLight";
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-style: normal;
}

h1 {
  display: block;
  font-size: 2rem;
  margin-top: 0.67rem;
  margin-bottom: 0.67rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5rem;
  margin-top: 0.83rem;
  margin-bottom: 0.83rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 {
  display: block;
  font-size: 1rem;
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83rem;
  margin-top: 1.67rem;
  margin-bottom: 1.67rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67rem;
  margin-top: 2.33rem;
  margin-bottom: 2.33rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

ul,
ol {
  padding-left: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #e6e6e6;
}
