.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.posts__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  margin-top: 2rem;
  margin-bottom: 2rem;
}
.posts__header__title {
  font-size: 2rem;
}
.posts__header__num {
  padding: 0.75rem;
}
.posts__body {
  width: 100%;
}

.posts__category-list {
  display: flex;
  flex-direction: row;

  overflow-y: hidden;
  scrollbar-width: none;

  column-gap: 1.5rem;
  margin-bottom: 0.75rem;
  padding: 1rem;
}
.posts__category {
  cursor: pointer;
  font-size: 1rem;
}
