.post__item {
  padding: 1rem;
}
.post__item:hover {
  background-color: rgb(41, 41, 41);
  border-radius: 0.6rem;
}

.post__item__link,
.post__item__link:visited {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

.post__item__title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: "GmarketSansMedium";
}
.post__item__description {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.post__item__bottom {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
.post__item__date {
  font-size: 0.75rem;
}
.post__item__category {
  font-size: 0.75rem;
}
