.footer {
  width: 100%;

  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;

  padding: 20px 0;
  color: white;
  background-color: #333;
}

.link:visited {
  text-decoration: none;
  decoration: none;
  color: rgb(230, 230, 230);
}
