.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.posts__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  margin-top: 32px;
  margin-bottom: 32px;
}
.posts__header--title {
  font-size: 32px;
}
.posts__header--num {
  padding: 12px;
}
.posts__body {
}

.posts__category--list {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  margin-bottom: 12px;
  padding: 16px;
  max-width: 720px;
}
.posts__category {
  font-size: 20px;
}
.posts__item {
}
.posts__item--title {
}
.posts__item--text {
}

.posts__item--bottom {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
.posts__item--date {
}
.posts__item--category {
}
