.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.posts__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  margin-top: 32px;
  margin-bottom: 32px;
}
.posts__header__title {
  font-size: 32px;
}
.posts__header__num {
  padding: 12px;
}
.posts__body {
  width: 100%;
}

.posts__category-list {
  display: flex;
  flex-direction: row;

  overflow-y: hidden;
  scrollbar-width: none;

  column-gap: 24px;
  margin-bottom: 12px;
  padding: 16px;
}
.posts__category {
  cursor: pointer;
  font-size: 1rem;
}
